# python
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest
.pytest_cache/

# environment files
.env*
!.env*.example
.venv/

# IDEs and OS
.vscode/
.idea/
.DS_Store

# logs
logs/
*.log
/tmp/kraft-combined-logs

# test files
.coverage
event.json

# generated reports
writeup/

# Stream processor local state
services/stream-processor/logs/
