# Database configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=smart_city

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=smartbin-telemetry-v1

NUMBER_OF_BINS=100
SIMULATION_INTERVAL=5